#Hulagway {
	background: 
	linear-gradient(
	to right,
	rgba(255,255,255,0.45),
	rgba(169,169,169,0.75)
	
				),
	url("../../images/bg.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;

}

#Hulagway1 {
	background: 
	linear-gradient(
	to right,
	rgba(255,255,255,0.45),
	rgba(169,169,169,0.75)
	
				),
	url("../../images/bg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;

}